.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 420px;
  position: relative;
  color: white;
}

@media (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
    max-width: 260px;
    text-align: end;
  }
}
