.popup__close_place_forms {
    top: calc(50% - 330px / 2 - 8px - 32px);
    left: calc(50% + 430px / 2 + 8px);
}

@media (max-width: 767px) {
    .popup__close_place_forms {
      top: calc(50% - 322px / 2 - 20px - 16px);
      left: calc(50% + 282px / 2 - 20px);
    }
  }