.header {
  min-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .header {
    min-width: 100%;
    min-height: 56px;
  }
}
