.header {
  width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .header {
    width: 581px;
  }
}

@media (max-width: 767px) {
  .header {
    width: 282px;
  }
}
